html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
#root{
  scroll-behavior: smooth;
  width: screen;
  max-width: 2000px;
  margin: auto;
  --primary-color: #4280e9;
  --secondary-color: #c4daff;
  --boom-color: #F7EFE5;
}
.feature-desc {
  color: #C3ACD0;
}
